body{
    font-size:28px;
    text-align:center;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color:#0099cc;
    color:#ff66cc;
}

#startbutton{
    text-decoration: none;
    border-color: #ff66cc;
    border-width:3px;
    border-style: solid;
    padding:5px;
}


